%h1 Bank Entries

= content_tag :script, :type => 'test/x-template', :id => 'bank-entry-template' do
  %td <%= date %>
  %td <%= description %>
  %td <%= notes %>
  %td.currency <%= ammount %>

%table#bank-entries
  %tr
    %th Date
    %th Description
    %th Notes
    %th Ammount
    %th Account

  - @bank_entries.each do |entry|
    = content_tag_for :tr, entry do
      %td= entry.date
      %td= entry.description
      %td= entry.notes
      %td.currency= entry.ammount
    - entry.account_entries do |entry|
      = content_tag_for :tr, entry do
        %td
        %td
        %td= entry.notes
        %td.currency= entry.ammount
        %td= entry.account_name
