%h1 Bank Entries

= content_tag :script, :type => 'test/x-template', :id => 'bank-entry-template' do
  .row
    .date <%= date %>
    .description <%= description %>
    .notes <%= notes %>
    .ammount.currency <%= ammount %>

= content_tag :script, :type => 'test/x-template', :id => 'account-entry-template' do
  .row.account-entry
    .notes <%= notes %>
    %input.ammount.currency
    %input.account
    .right-control(rel="remove-account-entry") -

#bank-entries
  .row
    .date Date
    .description Description
    .notes Notes
    .ammount Ammount
    .account Account

  - @bank_entries.each do |entry|
    .bank-entry-view
      = div_for entry, :class => 'row' do
        .date= entry.date
        .description= entry.description
        .notes= entry.notes
        .ammount.currency= entry.ammount_cents / 100
      - entry.account_entries.each do |ae|
        = div_for ae, :class => 'row' do
          .notes= ae.notes
          .ammount.currency= ae.ammount_cents / 100
          .account= ae.account_name
