%h1
  Ledger Entries:
  = @ledger.name
  - if @ledger.bank?
    = "[#{@ledger.bank}]"

= link_to 'Ledger', ledger_path(@ledger)

%table
  %tr
    %th Date
    %th Ammount
    %th Description
    %th Notes
    %th External Id
    %th Account

  - @ledger.entries.each do |entry|
    %tr
      %td= entry.date
      %td= number_to_currency entry.ammount
      %td= entry.description
      %td= entry.notes
      %td= entry.external_id
      %td= entry.account_name
