= f.hidden_field :position
= f.hidden_field :asset
.up.icon-up-arrow
.down.icon-down-arrow
.category= f.text_field :category
.name= f.text_field :name
.l-float-right= currency f.object.balance, 'balance'
= f.check_box :_destroy, title: "Delete"
