= form_for [ :v2, bank_entry ], html: { data: { amount: bank_entry.amount } } do |f|
  .date
    - if bank_entry.from_bank?
      = bank_entry.date
    - else
      = f.text_field :date#, type: 'date'
  .description
    - if bank_entry.from_bank?
      = bank_entry.description
    - else
      = f.text_field :description
  - bank_entry.account_entries.build(amount: bank_entry.amount_remaining) unless bank_entry.amount_remaining.zero?
  - if !bank_entry.new_record? && (last_ae = bank_entry.account_entries.last) && last_ae.new_record?
    .distribute= link_to 'Distribute', [ :edit, :v2, bank_entry ]
  = f.fields_for :account_entries do |ae|
    .account-entry
      = ae.hidden_field :_destroy
      .amount= ae.text_field :amount, class: 'currency'
      .account= ae.select :account_name, ([ae.object.account_name] + @account_names).uniq.compact, include_blank: true
  .actions
    = f.submit 'Save'
    = link_to 'cancel', '#', class: 'cancel'
