= form_for [ :v2, @bank_entry ], html: { class: 'accounts-table', data: { ammount: @bank_entry.ammount } } do |f|
  %h2
    %span#distribute-ammount.currency= @bank_entry.ammount_remaining
    &nbsp;left to distribute from:

  .bank-entry
    .date= @bank_entry.date
    .description= @bank_entry.description
    = currency @bank_entry.ammount, :ammount

  .assets-list
    %h2 Assets
    %ul
      - @accounts.assets.each do |account|
        = account_entry_fields f, account

  .liabilities-list
    %h2 Liabilities
    %ul
      - @accounts.liabilities.each do |account|
        = account_entry_fields f, account
  .actions
    = f.submit 'Save'
    = link_to 'cancel', v2_bank_entries_path
