= form_tag v2_bank_entries_path, method: :get, class: 'filters' do
  = label_tag 'show_filters' do
    %h3 Filter entries
  = check_box_tag 'show_filters'
  .date
    = label_tag :within
    = select_tag :within, options_for_select(@within.keys, params[:within]), include_blank: true
  .distribute
    = label_tag :needs_distribution
    = check_box_tag :needs_distribution, nil, params[:needs_distribution]
  .account
    = label_tag :account_name, 'Account'
    = select_tag :account_name, options_for_select(@account_names, params[:account_name]), include_blank: true
  = submit_tag 'Filter'

%ul.bank-entries
  - @bank_entries.each do |bank_entry|
    %li
      = render bank_entry

- if params[:page].to_i > 0
  = link_to "Previous Page", bank_entries_path(params.merge(page: params[:page].to_i - 1))
- if @bank_entry_pages > params[:page].to_i
  = link_to "Next Page", bank_entries_path(params.merge(page: params[:page].to_i + 1))
