%h1
  Ledger:
  = @ledger.name
  - if @ledger.bank?
    = "[#{@ledger.bank}]"

= link_to 'Entries', ledger_entries_path(@ledger)

%table
  %tr
    %th Account
    %th Balance

  - @ledger.accounts.each do |account|
    %tr
      %td= account.name
      %td= number_to_currency account.balance
