%h1
  Ledger:
  = @ledger.name
  - if @ledger.bank?
    = "[#{@ledger.bank}]"

%table
  %tr
    %th Account
    %th Balance

  - @ledger.accounts.each do |account|
    %tr
      %td= account.name
      %td= account.balance
