.accounts-table
  .assets-list
    %h2 Assets
    %ul
      - category = nil
      - @accounts.assets.each do |account|
        - if category != account.category
          - category = account.category
          %li
            %h3= category
        %li= render account

  .liabilities-list
    %h2 Liabilities
    %ul
      - category = nil
      - @accounts.liabilities.each do |account|
        - if category != account.category
          - category = account.category
          %li
            %h3= category
        %li= render account

= link_to edit_v2_accounts_path(), class: 'edit-accounts' do
  .icon-pencil
