%h2.account
  = @account.name
  = currency @account.balance, 'balance', 'span'

%ul.bank-entries
  - @account.account_entries.with_balance.each do |account_entry|
    %li
      .date= account_entry.bank_entry.date
      .description= account_entry.bank_entry.description
      .account-entry
        = currency account_entry.amount_cents / 100.0, 'amount'
        = currency account_entry.balance_cents / 100.0, 'balance'
