.accounts-table
  .assets-list
    %h2 Assets
    %ul
      - category = nil
      - @accounts.assets.each do |account|
        - if category != account.category
          - category = account.category
          %li
            %h3= category
        %li{ data: { 'strategy-id' => account.strategy.try(:id), 'account-id' => account.id } }
          .account= link_to account.name, [ :v3, account ]
          = currency account.average_spent(0.5), 'spent'
          = currency account.strategy.try(:value), 'strategy'

  .liabilities-list
    %h2 Liabilities
    %ul
      - category = nil
      - @accounts.liabilities.each do |account|
        - if category != account.category
          - category = account.category
          %li
            %h3= category
        %li{ data: { 'strategy-id' => account.strategy.try(:id), 'account-id' => account.id } }
          .account= link_to account.name, [ :v3, account ]
          = currency account.average_spent(0.5), 'spent'
          = currency account.strategy.try(:value), 'strategy'
