!!!
%html
  %head
    %title Sledger
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    %ul.navigation
      %li
        = link_to 'Accounts', '#', :class => :accounts
      %li
        = link_to 'Bank Entries', '#', :class => :bank_entries
    = yield
