!!!
%html
  %head
    %title Sledger
    = stylesheet_link_tag    "v1", :media => "all"
    = javascript_include_tag "v1"
    = csrf_meta_tags

  %body
    %ul.navigation
      %li(rel="accounts")>
        = link_to 'Accounts', '#'
      %li(rel="bank_entries")>
        = link_to 'Bank Entries', '#'
    = yield
