!!! 5
%html
  %head
    %title Ledger
    = stylesheet_link_tag    "normalize", "v2", :media => "all"
    = javascript_include_tag "v2"
    = csrf_meta_tags
    %meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")

  %body(class="#{controller_name} #{action_name}")
    .navigation
      = link_to "Accounts", v2_root_path, class: 'accounts'
      = link_to v2_bank_entries_path, class: 'entries' do
        Entries
        - needs_distribution_count = BankEntry.needs_distribution.count
        - if needs_distribution_count > 0
          %span.count= needs_distribution_count
      .page-actions= yield :navigation
    = yield
