!!! 5
%html
  %head
    %title Sledger
    = stylesheet_link_tag    "v2", :media => "all"
    = javascript_include_tag "v2"
    = csrf_meta_tags

  %body(class="#{controller_name} #{action_name}")
    %ul.navigation
      %li.accounts= link_to "Accounts", v2_root_path
      %li.entries= link_to "Entries", v2_bank_entries_path
    = yield
