!!! 5
%html
  %head
    %title Ledger
    = stylesheet_link_tag    "v2", :media => "all"
    = javascript_include_tag "v2"
    = csrf_meta_tags
    %meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")

  %body(class="#{controller_name} #{action_name}")
    %ul.navigation
      %li.accounts= link_to "Accounts", v2_root_path
      %li.entries
        = link_to v2_bank_entries_path do
          Entries
          - needs_distribution_count = BankEntry.needs_distribution.count
          - if needs_distribution_count > 0
            -#= link_to needs_distribution_count, "#", class: 'count'
            %span.count= needs_distribution_count
      %li.searches= link_to "Search", new_v2_search_path
    = yield
