!!! 5
%html
  %head
    %title Ledger
    = stylesheet_link_tag    "normalize", "v2", :media => "all"
    = javascript_include_tag "v2"
    = csrf_meta_tags
    = favicon_link_tag 'favicon.ico'
    %meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
    %meta(name="google" value="notranslate")

  %body(class="#{controller_name} #{action_name}")
    .navigation
      = link_to "Accounts", v2_root_path, class: 'accounts navigation__page'
      = link_to v2_bank_entries_path, class: 'entries navigation__page' do
        Entries
        - needs_distribution_count = BankEntry.needs_distribution.count
        - if needs_distribution_count > 0
          %span.count= needs_distribution_count
      = link_to "Strategies", v2_strategies_path, class: 'strategies navigation__page'

      - bank_import = BankImport.last
      - ledger_sum = BankEntry.sum(:amount_cents)
      %small.bank_import(tabindex="0")
        = currency ledger_sum / 100.0, '', 'span'
        - if bank_import && ledger_sum != bank_import.balance_cents
          &nbsp;bank has
          = currency (ledger_sum - bank_import.balance_cents) / 100.0, '', 'span'
      .dropdown
        - if bank_import
          Last updated:
          = bank_import.created_at.to_s :long
        = form_tag v2_bank_imports_path, multipart: true do
          = file_field_tag :upload

      .page-actions= yield :navigation
    = yield
