!!! 5
%html(manifest="#{v3_manifest_path if Rails.env.production?}")
  %head
    %title Ledger
    = stylesheet_link_tag    "normalize", "v3", :media => "all"
    = javascript_include_tag "v3"
    = csrf_meta_tags
    %meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
    %meta(name="apple-mobile-web-app-capable" content="yes")
    %meta(name="mobile-web-app-status-bar-style" content="black")
    %meta(name="google" value="notranslate")
    - if Rails.env.production?
      %script(type="text/javascript" src="//d2zah9y47r7bi2.cloudfront.net/releases/current/tracker.js" data-token="60d376c2ed1748caa6c3f413d699c539")


  %body(class="#{controller_name} #{action_name}" ng-app="ledger")
    .navigation(ng-controller="NavigationCtrl")
      .navigation__toggle(ng-click="toggle()") =

      .page-actions
        .page-actions__calculator(ng-controller="CalculatorCtrl")
          %label.is-clickable.icon-calculator(for="calculator" ng-click="toggle()")
          %form.dropdown(name="form" ng-cloak ng-show="showCalc")
            %pre.l-text-r(ng-model="output" l-currency)
            %input#calculator.l-text-r(type="text" ng-model="input" name="input")
        = yield :navigation
        %span( ng-cloak
          ng-repeat="pageAction in pageActions"
          class="is-clickable icon-{{pageAction.icon}}"
          title="{{pageAction.text}}"
          ng-click="pageAction.click()"
        )

      .navigation__details(ng-class="{ 'is-open': showNav }")
        = link_to "Accounts", v3_root_path(anchor: '/accounts'), 'ng-click' => 'showNav=false', class: 'accounts navigation__page'
        = link_to v3_root_path(anchor: '/entries'),              'ng-click' => 'showNav=false', class: 'entries navigation__page' do
          Entries
          %span.count(ng-show="distributionCount != 0") {{ distributionCount }}
        = link_to "Strategies", v3_strategies_path, class: 'strategies navigation__page'
        = link_to "Forecast", v3_root_path(anchor: '/forecast'), 'ng-click' => 'showNav=false', class: 'navigation__page'

        .bank_import(tabindex="0")
          %small upload
          .bank_import__details
            %div(ng-if="ledgerSummary.latest_bank_import")
              %div last updated: {{ledgerSummary.latest_bank_import.created_at | date:"MMMM d, y ha"}}
              %div(ng-if="bankDelta != 0")
                bank has
                %span(ng-if="bankDelta > 0") +
                &nbsp;
                %span.m-balance(ng-model="bankDelta" l-currency)
                &nbsp;than ledger
            = form_tag v3_bank_imports_path, multipart: true do
              = file_field_tag :upload

      .navigation__status.list( ng-cloak
        ng-controller="StatusCtrl"
      )
        %span.list__item( ng-repeat="status in statuses"
          ng-click="status.fn && status.fn()"
          ng-class="{ 'is-clickable': status.fn }"
        ) {{status.text}}
    = yield
