%h1= "Distributing balance from #{@account.name} - #{number_to_currency @account.balance_cents/100.0}"

:javascript
  window.accountId = #{@account.id};

= content_tag :script, :type => 'text/x-template', :id => 'account-template' do
  %td <%= name %>
  %td.currency
    %input.ammount
  %td.currency <%= balance %>

.accounts.distribute
  %table.assets
    %caption Assets
    = render @accounts.assets

  %table.liabilities
    %caption Liabilities
    = render @accounts.liabilities
